{% extends "base.html" %}
{% load staticfiles %}
<link href="{% static 'polls/style.css' %}" rel="stylesheet" type="text/css" />
{% block content %}
    <h2>Django <small>Polls</small></h2>
    {% if latest_question_list %}
        <ul class="list-unstyled">
            {% for question in latest_question_list %}
                <u><li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li></u>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}
<script src="{% static 'polls/js/jquery.js' %}" type="text/javascript" />
